.card {
    color: var(--cinza-claro);
    text-decoration: none;
    background-color: var(--cinza-escuro);
    border-radius: 8px;
    width: 100%;
}

.card__imagem {
    width: 100%;
    height: 240px;
    background-color: var(--cinza-claro);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__imagem img {
    object-fit: cover;
    border-radius: 8px;
}

.card__conteudo {
    padding: 16px;
    height: 100%;
}

.card__link {
    text-decoration: none;
    color: var(--cinza-claro);
}

.conteudo__texto {
    margin-bottom: 67px;
}

.conteudo__texto h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.conteudo__texto p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.conteudo__rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__rodape ul {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: baseline;
}

.conteudo__rodape div {
    flex-grow: 0;
}

.conteudo__rodape li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
}

.rodape__usuario {
    display: flex;
    align-items: center;
    gap: .5em;
}