:root{
  --verde-destaque: #81FE88;
  --verde-pastel: #BFFFC3;
  --verde-petroleo: #132E35;
  --grafite: #01080E;
  --cinza-escuro: #171D1F;
  --cinza: #3E3E3F;
  --cinza-medio: #888888;
  --fonte: 'Prompt', sans-serif;
}