.container-filtro{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.container-filtro ul{
    display: flex;
    gap: 2em;
    list-style-type: none;
}

.container-filtro ul li{
    color: var(--cinza-escuro);
    background-color: var(--cinza-claro);
    font-size: 18px;
    padding: 0.25em .5em;
    border-radius: 4px;
}

.container-filtro button{
    border: none;
    background-color: transparent;
    color: var(--cinza-medio);
    line-height: 27px;
    font-size: 18px;
}

.container-filtro li:hover{
    cursor: pointer;
    background: var(--cinza-medio) url("./assets/close.svg") no-repeat right 15px;
    padding-right: 1em;
}